<%= render 'shared/homenav'%>
<div class="jumbotron">
  <h1 class="display-4">Welcome to Melanie's Cookbook</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>A website I keep a catalogue of my recipes and where you can view and save my recipes.</p>
   <%= link_to "Login", users_path, :class => "btn btn-primary" %>
   <%= link_to "Sign up", new_user_path, :class => "btn btn-primary" %>
</div>
