<%= render 'shared/navbar'%>
<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><%= @user.username %></h1>
      <div class="btn btn-primary">
        <%= link_to "Create List", new_list_path, :class => "btn btn-primary"%>
      </div>

    </div>
  </div>

  <ul>
  <% @user.lists.each do |list| %>
      <li><%= link_to list.name, list %></li>
  <% end %>
  </ul>
</div>
