// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
  text-align: center;
}
.list-card{
  text-align: center;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  margin:20px;
}
.card{
  margin:20px;
}

.form-container{
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 30px;
}

.form-button{
  margin-top:25px;
  margin:auto;
}

.form-group{
  margin: 15px;
}

label{
  width: 100%;
}

input{
  width: 70%;
}

textarea{
  width: 70%;
}
